{% extends('master.html') %}

{% block content %}
    <h2 class="text-center">Get to contact us</h2>
    <img src="https://www.google.com/maps/vt/data=_6KGyG3ImRPJvuSHQ_yzs_Zc1IJqOZfkI5nsWsJUo-kN8uS-f5r8PTgAuhCHFNIxM96L_wdKHGAjch1NjREpwTSXsfDp8X2UjwFblywPt78Lg5MZHbRFGprHQTV3ANqG_K-qjQj9PCrl6mFUobbk7IYOITCSbPoYysMaVokrsH3q8FhJuCzpNewU7obEOS-ryOJaNMD4E_xfF4Z87JGa8KjRN0jacKJD16YayQWeXIbJJipcn1tU2NOchh6jjjkcBVxMpZSszXQ0xwTtpocMR_xJCv3mJ9zGBYBKxGKTmv6Wmdht21ZGqkROiZKuEow-ir83vZYbPScftQKAImyRHfqE53GIMZ5xq8G-R6khvmWNudsYP5S_8r6xNjQVDm2gn_VPf4865aaNZoAfVU86KxiTtY76lDVCnLSeIXdCWfKOyPDbPl8nifkQzT5Qa4JRr-fijg"
         alt="" width="1150px" height="280px" style="padding-left: 250px">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center">OUR CONTACTS</h2>
            <p class="lol text-center">LOCATION: QHFPI-3H Kamangu Area, near Sanyo Sheds</p>
            <p class="lol text-center">ADDRESS: 43722-00100 Ngong</p>
            <p class="lol text-center">EMAIL ADDRESS: mydogcatancentre@yahoo.com</p>
            <p class="lol text-center">MOBILE NUMBERS: 0733764122 , 0720453714</p>
            <p class="lol text-center">HOURS OF OPERATION: 8:00 AM -6:00 PM from Monday-Friday, 1200 NOON -4:00PM on weekends and public holidays</p>

        </div>
    </div>


{% endblock %}
