<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Team</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <style>
        h1{
            color: burlywood;
        }

        .text-success{
            color: cadetblue!important;
        }

    </style>
</head>
<body>

<h2 class="text-center">OUR TEAM</h2>
{# templating engine - allows you to write another language inside another(python inside html) == Jinja #}

    <h1>{{ name }}</h1>
    {% for member in members %}
        <p class="text-success">{{ member }}</p>
    {% endfor %}


</body>
</html>
